<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorator="~{admin/layout}">
<body>
<main role="main" class="container" layout:fragment="content">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header bg-info">View Account</div>
                <div class="card-body">
                    <form th:action="@{/admin/getAccount}" class="form-inline">
                        <label for="code">Account Code</label>
                        <input type="text" id="code" name="code" th:value="a1" class="form-control">
                        <input type="submit" value="Search" class="btn btn-primary">
                    </form>
                </div>
            </div>
            <div class="card">
                <div class="card-header bg-info">Account Detail</div>
                <div class="card-body">
                    <div th:if="${account}">
                        <p>Client : <b th:text="${account.client.name}"></b></p>
                        <p>Code : <b th:text="${account.code}"></b></p>
                        <p>Balance : <b th:text="${account.balance}"></b></p>
                        <p>Created at : <b th:text="${account.createdAt}"></b></p>
                        <p>Account type : <b th:text="${account.class.simpleName}"></b></p>
                        <p th:if="${account.class.simpleName} == 'CheckingAccount'">Overdraft : <b
                                th:text="${account.overdraft}"></b></p>
                        <p th:if="${account.class.simpleName} == 'SavingsAccount'">Rate : <b
                                th:text="${account.rate}"></b></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header bg-info">Operations list</div>
                <div class="card-body">
                    <div th:if="${account}">
                        <form th:action="@{/admin/addOperation}" method="post" class="form">
                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    <input type="hidden" name="accountCode" th:value="${account.code}">
                                    <p>Account : <b th:text="${account.code}"></b></p>
                                </div>

                                <div class="form-group col-md-12 form-check form-check-inline">
                                    <input type="radio" name="operation"
                                           th:value="'deposit'" id="deposit" class="form-check-input">
                                    <label class="form-check-label" for="deposit">Deposit </label>

                                    <input type="radio" name="operation"
                                           th:value="'withdrawal'" id="withdrawal" class="form-check-input">
                                    <label class="form-check-label" for="withdrawal">Withdrawal </label>

                                    <input type="radio" name="operation"
                                           th:value="'transfer'" id="transfer" class="form-check-input">
                                    <label class="form-check-label" for="transfer">Transfer </label>
                                </div>
                                <div class="form-group col-md-12">
                                    <label for="amount">Amount</label>
                                    <input type="number" min="1" id="amount" name="amount" th:value="a1"
                                           class="form-control">
                                    <input type="submit" value="Save" class="btn btn-primary">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header bg-info">Operations List</div>
                <div class="card-body">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Num</th>
                            <th>Type</th>
                            <th>Date</th>
                            <th>Amount</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="operation : ${operations}">
                            <th th:text="${operation.num}"></th>
                            <td th:text="${operation.class.simpleName}"></td>
                            <td th:text="${operation.createdAt}"></td>
                            <td th:text="${operation.amount}"></td>
                        </tr>
                        </tbody>
                    </table>
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <li th:each="pageNumber : ${pageNumbers}" th:class="'page-item ' + ${pageNumber == operations.number + 1 ? 'active' : ''}">
                                <a class="page-link" th:href="@{'/admin'/(page = ${pageNumber})}" th:text="${pageNumber}"></a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>